<p>Bonjour {{ prenom }}, </p>
<p>Une demande de réinitialisation de votre mot de passe à été éffectuée. </p> 
<p>Veuillez cliquer sur le lien suivant pour définir un nouveau mot de passe : </p>
<p> {{ url }} </p>