<p>Bonjour,</p>
<p>L'utilisateur ayant le mail {{ email_utilisateur }} à envoyer une demande via le formulaire de contact.</p> 
<p>La demande concerne le sujet suivant : {{ sujet }}. Voici le message de l'utilisateur : </p>
<p> {{ description }} </p>