/*barre de recherche*/
.search-inline-form {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 15px; 
    margin-top: 15px;
}

.search-inline-form input {
    width: 100%;
    height: 100%; 
}

.search-inline-form button {
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
}

.movie-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.movie-content img {
    height: 350px;
}

.film {
    width: 250px;
    margin: 0 5px 15px;
}

/*Affiche du film*/
.main-content-affiche {
    margin-bottom: 20px;
}
.infos-content {
    margin-top: 2%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.img_affiche_film {
    width: 415px;
    float: left;
    min-height: 585px;
}

.donneesFilm {
    border-left: 1px solid black;
    padding-left: 20px;
    margin-left: 25%;
    min-height: 585px;
}

.titre_affiche {
    font-size: 2em;
    width: 79%;
}

.realisateur_affiche, .acteur_affiche {
    font-size: 1.5em;
}

.synopsis_affiche {
    font-size: 1.2em;
}

.btnPdf {
    margin-bottom: 2%;
}

.title-inline {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.block_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.bande_annonce {
    display: none;
    margin-top: 5%;
}

.bande_annonce a {
    color: blue;
    text-decoration: underline; 
}

/*Modifier film*/
.btn-del, .btn-cancel-movie {
    display: none;
}

.edit-infos-content {
    display: none;
    margin: 5% 15%;
    width: 70%;
    border: 3px solid #5f708b;
    border-radius: 5px;
    padding-bottom: 50px;
}

.btn-save-edit-movie {
    margin-top: 5%;
}
/*RESPONSIVE*/
@media only screen and (max-width: 1441px) {
    /*Affiche*/
    .img_affiche_film {
        width: 25%;
        min-height: 475px;
    }

    .donneesFilm {
        min-height: 475px;
        margin-left: 28%;
    }

    .titre_affiche {
        font-size: 1.5em;
    }

    .realisateur_affiche, .acteur_affiche {
        font-size: 1.2em;
    }

    .synopsis_affiche {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1025px) {
    /*Catalogue*/
    #affiche-content h1 {
        font-size: 1.8em;
    }

    .movie-content {
        width: 100%;
    }
    
    .main-content {
        padding: 30px 30px;
    }
    /*Affiche*/
    .img_affiche_film {
        width: 35%;
        min-height: 460px;
    }

    .donneesFilm {
        min-height: 460px;
        margin-left: 38%;
    }

    .donneesFilm h2 {
        margin: 0;
    }
}

@media only screen and (max-width: 769px) {
    /*Catalogue*/
    #affiche-content h1 {
        font-size: 1.6em;
    }
    /*Affiche*/
    .img_affiche_film {
        width: 100%;
        min-height: 460px;
        float: none;
    }

    .donneesFilm {
        width: 100%;
        border: none;
        margin-left: 0;
    }

    .title-inline {
        margin-top: 2%;
    }

    iframe {
        width: 660px;
        height: 350px;
    }

    .img_donnees {
        margin-bottom: -70px;
    }

}

@media only screen and (max-width: 426px) {
    /*Catalogue*/
    .movie-content {
        margin-left: 10%;
    }

    /*Affiche*/
    .img_affiche_film {
        margin-top: 2%;
    }

    .donneesFilm {
        padding: 0;
    }

    .title-inline {
        display: block;
    }

    .btnPdf {
        margin: 15px 30% 0;
    }

    .block_bottom {
        display: block;
    }

    .lien_ba img {
        margin-left: 35%;
    }

    .bande_annonce {
        display: block;
        margin-bottom: 10%;
    }

    .buttonMovie {
        margin: 0px 39% 5%;
    }

    .main-content-affiche .home-title-button {
        display: block;
    }

    .qrcode {
        display: none;
    }
    
    .block_bandeAnnonce {
        display: none;
    }

    .img_donnees {
        margin-bottom: -70px;
    }

}

@media only screen and (max-width: 376px) {
    /*Catalogue*/
    .main-content {
        padding: 30px 13px;
    }

    #affiche-content h1 {
        font-size: 1.4em;
    }

    .movie-content {
        margin-left: 7%;
    }

    /*Affiche*/
    h1 {
        font-size: 1.5em;
    }
    .img_affiche_film {
        margin-top: 2%;
        min-height: 415px;
    }

    .donneesFilm {
        padding: 0;
    }

    .titre_affiche {
        font-size: 1.2em;
    }

    .realisateur_affiche, .acteur_affiche {
        font-size: 1em;
    }

    .btnPdf {
        margin: 5% 29% 0;
    }

    .buttonMovie {
        margin: -10px 39% 5%;
    }

}

@media only screen and (max-width: 321px) {
    /*Catalogue*/
    .movie-content img {
        height: 305px;
        width: 205px
    }

    .movie-content {
        margin-left: -3%;
    }

    /*Affiche*/
    h1 {
        font-size: 1.2em;
    }
    .img_affiche_film {
        margin-top: 2%;
        min-height: 320px;
    } 

    .btnPdf {
        margin: 5% 24%;
    }

    .qrCode_size img {
        margin-left: 35%;
    }
}