.profilImg {
    border-radius: 125px;
}

.infos_user {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.block-left, .block-right {
    width: 30%;
}

.buttonUser {
    margin-top: 40px;
    text-align: center;
}

.content-infos-edit {
    display: none;
}

.content-infos-edit .buttonUser {
    text-align: right;
}

.content-infos-mdp {
    display: none;
}

.content-infos-mdp .buttonUser {
    text-align: right;
}

.input-avatar input{
    border: none;
    padding: 0;
}

/*RESPONSIVE*/
@media only screen and (max-width: 769px) {
    .infos_user .block-left {
        width: 50%;
    }
}

@media only screen and (max-width: 426px) {
    .infos_user .block-left, .infos_user .block-right {
        width: 100%;
        text-align: center;
    }

    #dashboard-content h1 {
        font-size:1.8em
    }

    .infos_user {
        display: block;
    }

    .buttonUser {
        margin-top: 0;
    }

    .modifCompteUser {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 376px) {
    #dashboard-content h1 {
        font-size:1.5em
    }
}

@media only screen and (max-width: 321px) {
    #dashboard-content h1 {
        font-size:1.4em
    }

    .block-left h2 {
        font-size: 1.2em
    }
}