* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    font-family: 'Roboto';
    margin: 0;
}

h1 {
    color: #454545;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    padding: 12px;
    border-radius: 5px;
    background-color: #4a85cd;
    color: #fafafa;
    cursor: pointer;
    /* margin-left: 5px; */
}

button:hover {
    box-shadow: 0 0 2px 0 #6b6b6b;
}

h1 i {
    color: #bdbdbd;
}

.home-title-button {
    border-bottom: 1px solid #bdbdbd;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

/* Gestion des notifications */
.home-title-add .message-success {
    width: 20%;
    text-align: center;
    margin: 15px;
    margin-left: 25%;
    padding: 15px;
    border-radius: 5px;
    background: #d9fbed;
    border: 1px solid #3ed180;
    box-shadow: 0 0 2px 0 #6b6b6b;
}

.home-title-add .message-danger {
    color: #f64d4d;
    text-align: center;
    margin: 15px;
    margin-left: 25%;
    padding: 15px;
    border-radius: 5px;
    background: #ffcbcb;
    border: 1px solid #f64d4d;
    box-shadow: 0 0 2px 0 #6b6b6b;
}
.message-success {
    width: 20%;
    text-align: center;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    background: #d9fbed;
    border: 1px solid #3ed180;
    box-shadow: 0 0 2px 0 #6b6b6b;
}

#formEnvoiMail .message-success, #formLogin .message-success {
    width: 100%;
}

.message-danger {
    color: #f64d4d;
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    background: #ffcbcb;
    border: 1px solid #f64d4d;
    box-shadow: 0 0 2px 0 #6b6b6b;
}
.message-confirm-supp {
    display: none;
    z-index: 3;
    position: absolute;
    text-align: center;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    width: 20%;
    height: 200px;
    background: #eacbf0;
    top: 250px;
    margin-left: 35%;
}
.message-confirm-supp p {
    font-size: 1.2em;
    padding: 30px;
}

.btn-confirm-suppression {
    margin-left: 20px;
    background : #f64d4d;
    color: #fafafa;
}

/*Icones*/
.fa-check-circle {
    color: #0ccb61;
    font-size: 20px;
    margin-left: 3px;
}

.fa-times-circle {
    color: #f64d4d;
    font-size: 20px;
}

.fa-plus-circle {
    color: #4a85cd;
    font-size: 20px;
}
